.gitignore.swp
/*.iml
/*.ipr
/*.iws
java/.idea/workspace.xml
java/out
java/*.log.*
/components/gradle.properties
**/build
**/.idea
**/*.iml
**/*.log.*
**/.gradle
**/.nb-gradle
**/private

components/chemcentral/chemcentral.properties
components/chemcentral/database.properties
components/chemcentral/users.properties
/components/common/build/
/components/portal/build/
/components/datamodel/build/
/components/routes/simpleDocker/.nb-gradle/private/
/components/routes/simpleDocker/build/
/components/common-libs/cxnlib/build/
/components/common-libs/core-test/build/
/components/core-test/build/