.gitignore.swp
/*.iml
/*.ipr
/*.iws
java/.idea/workspace.xml
java/out
java/*.log.*
/lacfiledrop
**/build
**/.idea
**/*.iml
**/*.log.*
**/.gradle
**/.nb-gradle
**/private
**/derby.log

components/chemcentral/chemcentral.properties
components/chemcentral/database.properties
components/chemcentral/users.properties
/components/common/build/
/components/portal/build/
/components/datamodel/build/
/components/routes/simpleDocker/.nb-gradle/private/
/components/routes/simpleDocker/build/
/components/common-libs/cxnlib/build/
/components/common-libs/core-test/build/
/components/core-test/build/
/components/cdk-lib/build/
/components/chemaxon-services/build/
/components/demo-services/build/
/components/rdkit-camel/build/
/components/chemcentral/build/
/components/chemaxon-camel/build/
/components/chemaxon-lib/build/
components/demo-services/logs
/components/common-camel/.nb-gradle/private/
/components/common-camel/build/
/components/datamodel/mockdatamodel/build/
/components/cdk-camel/.nb-gradle/private/
/components/cdk-camel/build/