.gitignore.swp
/*.iml
/*.ipr
/*.iws
java/.idea/workspace.xml
java/out
java/*.log.*
/lacfiledrop
**/build
**/.idea
**/*.iml
**/*.log.*
**/.gradle
**/.nb-gradle
**/private
**/derby.log
**/*~

components/chemcentral/chemcentral.properties
components/chemcentral/database.properties
components/chemcentral/users.properties
components/demo-services/logs
components/loaders/files
components/core-services-client/lib
components/chem-services-root/src/main/html/licenses
components/security-keycloak/lib/
docker/**/*.war
docker/xwiki-site/yyy.json
docker/deploy/setenv.sh
docker/deploy/yyy.json

docker/deploy/squonk-realm.json

docker/deploy/xwiki/hibernate.cfg.xml
docker/deploy/xwiki/server.xml

docker/deploy/portal/server.xml

docker/deploy/nginx/cert.key
docker/deploy/nginx/cert.crt

docker/deploy/keycloak/keycloak.jks








