/* OVERRIDE GRID */

div.imxt-vista {
    font-size: 13px;
    border-radius: 5px;
}

div.imxt-container1 {
    border-radius: 5px;
}

div.imxt-vista div.imxt-head-container {
    border: none;
    border-bottom: 1px solid #eee;
}

div.imxt-vista div.imxt-head-container1 {
    background: none;
}

div.imxt-vista table.imxt-head tr.imxt-columns {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.05);
}

div.imxt-vista table.imxt-head th {
    padding: 5px 2px 5px 4px;
    font-weight: bold;
    color: rgba(0,0,0,.8);
    height: 21px;
}

table.imxt-head th a.imxt-handle {
    width: 3px;
    background-color: transparent;
}

div.imxt-vista table.imxt-head th div.imxt-a {
    padding: 0;
}

div.imxt-vista table.imxt-head th.imxt-prelight {
    background-image: none;
}

div.imxt-vista table.imxt-head th.imxt-prelight a.imxt-sort-header:hover {
	color: rgba(0,0,0,.8);
}

div.imxt-vista table.imxt-head th.imxt-sorted {
    background-image: none;
}

div.imxt-vista table.imxt-head th.imxt-prelight a.imxt-sort-header:hover {
	color: black;
}

div.imxt-vista tr.imxt-grid-row:hover td.imxt-cell,
div.imxt-vista tr.imxt-grid-row:hover td.imxt-sorted {
	background-color: #F2F9FC;
}

div.imxt-vista tr.imxt-selected td.imxt-cell,
div.imxt-vista tr.imxt-selected td.imxt-sorted {
    background-color: #E7F5FF;
}

div.imxt-vista tr.imxt-selected:hover td.imxt-cell,
div.imxt-vista tr.imxt-selected:hover td.imxt-sorted {
    background-color: #E1F2FF;
}



div.imxt-vista td.imxt-cell {
    padding: 2px 2px 1px 4px;
    height: 26px;
}

div.imxt-vista td.imxt-cell i.icon {
    height: auto;
}

div.imxt-vista td.imxt-cell i.icon.edit {
    margin-top: 3px;
}

div.imxt-vista tr.imxt-odd {
    background-color: rgba(0, 0, 50, 0.02);
}

div.imxt-navigator-toolbar {
    font-size: 13px;
}

div.imxt-no-records-toolbar {
    font-size: 13px;
    border-top: 1px solid #eee;
    padding-left: 0.5em;
    background-color: #fcfcfc;
    padding: 0.2em 0.5em;
}

span.imxt-navigator-float span.imxt-paging-navigator-button {
    color: #F2F9FC;
}

