 *{
     margin:0;
     padding:0;
     -moz-box-sizing:border-box;
     -webkit-box-sizing:border-box;
     box-sizing:border-box;
 }


.container {
    width: 1025px;
    margin: 10px auto;
}

 .work-area {
     border: 1px solid #ccc;
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 5px 15px #cccccc;
    -webkit-box-shadow: 0 5px 15px #cccccc;
    box-shadow: 0 5px 15px #cccccc;
     padding: 20px 40px;
     width: 730px;
     height: 600px;
     float: left;
     position: relative;
 }

.accordion-container {
	background: #ffffff;
	padding: 5px 10px 10px 10px;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 5px 15px #cccccc;
	-webkit-box-shadow: 0 5px 15px #cccccc;
	box-shadow: 0 5px 15px #cccccc;
    float: left;
    margin-right: 15px;
    height: 600px;
}

.accordion-header {
	font-size: 14px;
	background: #ebebeb;
	margin: 5px 0 0 0;
	padding: 5px 10px;
	border: 1px solid #cccccc;
	cursor: pointer;
	color: #666666;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 250px;
}

.active-header {
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	background: url(images/active-header.gif) #cef98d;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.active-header:hover {
	background: url(images/active-header.gif) #c6f089;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.inactive-header {
	background: url(images/inactive-header.gif) #ebebeb;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.inactive-header:hover {
	background: url(images/inactive-header.gif) #f5f5f5;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.accordion-content {
	display: none;
	padding: 20px;
	background: #ffffff;
	border: 1px solid #cccccc;
	border-top: 0;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	width: 250px;
	height: 448px;
}

.right-menu {
    height: 600px;
    border-left: 1px solid #ddd;
    width: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.properties-button {
   transform:rotate(90deg);
   -ms-transform:rotate(90deg); /* IE 9 */
   -webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
   width: 20px;
   margin-top: 10px;
}

.properties-panel {
     border-left:1px solid #ddd;
     display:none;
     position: absolute;
     right: 20px;
     top: 0px;
     height: 600px;
     padding: 15px;
}

