kind: DeploymentConfig
apiVersion: v1
metadata:
  labels:
    app: squonk
  name: cellexecutor
  namespace: {{ oc_project }}
spec:
  replicas: 1
  selector:
    name: cellexecutor

  triggers:
  - type: ImageChange
    imageChangeParams:
      automatic: true
      containerNames:
      - cellexecutor
      from:
        kind: ImageStreamTag
        name: cellexecutor:{{ oc_squonk_cell_image_tag }}
        namespace: {{ oc_project }}

  strategy:
    type: Recreate

  template:
    metadata:
      labels:
        name: cellexecutor
    spec:

      # A 'preferred' (not guaranteed)
      # node selection affinity...
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            preference:
              matchExpressions:
              - key: purpose
                operator: In
                values:
                - app

      serviceAccountName: {{ oc_project_sa }}

      containers:
      - name: cellexecutor
        env:
        - name: RABBITMQ_HOSTNAME
          valueFrom:
            secretKeyRef:
              name: squonk-rabbitmq-credentials
              key: host
        - name: RABBITMQ_SQUONK_PASSWORD
          valueFrom:
            secretKeyRef:
              name: squonk-rabbitmq-credentials
              key: pass
        - name: SQUONK_CONTAINER_RUNNER_TYPE
          value: openshift
        - name: SQUONK_DOCKER_WORK_DIR
          value: /squonk/work/docker
        - name: SQUONK_CELL_JOB_PROJECT_NAME
          value: {{ oc_project }}
        - name: SQUONK_SERVICE_ACCOUNT
          value: {{ oc_project_sa }}
        - name: SQUONK_POD_BASE_NAME
          value: squonk-cell-pod
        - name: SQUONK_POD_ENVIRONMENT
          valueFrom:
            secretKeyRef:
              name: squonk-app-secrets
              key: pod-env
        - name: SQUONK_POD_LOG_HISTORY
          value: "{{ oc_squonk_pod_log_history }}"
        - name: SQUONK_NEXTFLOW_IMAGE
          value: {{ oc_squonk_nextflow_image }}
        - name: JAVA_TOOL_OPTIONS
          value: "{{ oc_squonk_cell_java_tool_options }}"
#        - name: JAVA_OPTS
#          value: "-Djava.util.logging.config.file=/logging.properties"
        resources:
          limits:
            cpu: 4000m
            memory: 8Gi
          requests:
            cpu: {{ oc_squonk_cell_cpu_request }}
            memory: {{ oc_squonk_cell_mem_request }}
        volumeMounts:
        - mountPath: /squonk/work/docker
          name: squonk-work-dir
      volumes:
      - name: squonk-work-dir
        persistentVolumeClaim:
          claimName: squonk-work-dir-pvc
