kind: DeploymentConfig
apiVersion: v1
metadata:
  labels:
    app: squonk
  name: chemservices-basic
  namespace: {{ oc_project }}
spec:
  replicas: 1
  selector:
    name: chemservices-basic

{# We use an ImageStreamTag trigger if we're using CI/CD,
   where we pull our image from an image stream in the CI/CD project
   rather than from Docker hub (see the contra-changes to the
   container definition below) #}
{% if oc_squonk_image_source_cicd|bool %}
  triggers:
  - type: ImageChange
    imageChangeParams:
      automatic: true
      containerNames:
      - chemservices-basic
      from:
        kind: ImageStreamTag
        name: chemservices-basic:latest
        namespace: {{ oc_cicd_project }}
{% endif %}

  strategy:
    type: Recreate

  template:
    metadata:
      labels:
        name: chemservices-basic
    spec:

      # A 'preferred' (not guaranteed)
      # node selection affinity...
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            preference:
              matchExpressions:
              - key: purpose
                operator: In
                values:
                - app

      serviceAccountName: {{ oc_project_sa }}

      # Initialisation Containers...
      initContainers:
      - name: wait-for-core-before-chem
        image: yauritux/busybox-curl
        name: wait-for-core-before-chem
        command: ['sh', '-c',
          'until (( curl http://coreservices:8080/rest/ping --connect-timeout 5 )); do sleep 2; done']

      containers:
      - name: chemservices-basic
{% if not oc_squonk_image_source_cicd|bool %}
        image: squonk/chemservices-basic:{{ oc_squonk_chem_image_tag }}
        imagePullPolicy: {{ oc_image_pull_policy }}
{% endif %}
        env:
        - name: POSTGRES_HOSTNAME
          valueFrom:
            secretKeyRef:
              name: squonk-database-credentials
              key: host
        - name: POSTGRES_SQUONK_PASSWORD
          valueFrom:
            secretKeyRef:
              name: squonk-database-credentials
              key: user-password
        - name: RABBITMQ_HOSTNAME
          valueFrom:
            secretKeyRef:
              name: squonk-rabbitmq-credentials
              key: host
        - name: RABBITMQ_SQUONK_PASSWORD
          valueFrom:
            secretKeyRef:
              name: squonk-rabbitmq-credentials
              key: pass
        - name: JAVA_TOOL_OPTIONS
          value: "{{ oc_squonk_chem_java_tool_options }}"
        ports:
        - containerPort: 8080
        readinessProbe:
          httpGet:
            path: /chem-services-cdk-basic/rest/ping
            port: 8080
          initialDelaySeconds: 60
          timeoutSeconds: 4
          periodSeconds: 20
          successThreshold: 1
          failureThreshold: 3
        livenessProbe:
          httpGet:
            path: /chem-services-cdk-basic/rest/ping
            port: 8080
          initialDelaySeconds: 90
          timeoutSeconds: 4
          periodSeconds: 30
          successThreshold: 1
          failureThreshold: 3
        resources:
          limits:
            memory: 8Gi
          requests:
            cpu: {{ oc_squonk_chem_cpu_request }}
            memory: {{ oc_squonk_chem_mem_request }}
