kind: ImageStream
apiVersion: v1
metadata:
  name: chemservices
  namespace: {{ oc_project }}
spec:
  lookupPolicy:
    local: false
  tags:
  - from:
      kind: DockerImage
      name: squonk/chemservices-basic:{{ oc_squonk_chem_image_tag }}
    name: "{{ oc_squonk_chem_image_tag }}"
    importPolicy:
      scheduled: true
