<web-app version="2.5">

    <listener>
        <listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
    </listener>

    <servlet>
        <servlet-name>jersey</servlet-name>
        <servlet-class>toolkit.jersey.CDIJerseyServlet</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>portal.notebook,portal.notebook.service,portal.notebook.execution.service</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>jersey</servlet-name>
        <url-pattern>/ws/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>wicket</servlet-name>
        <servlet-class>org.apache.wicket.protocol.http.WicketServlet</servlet-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>portal.PortalWebApplication</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>wicket</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>
	
	<security-constraint>
	<web-resource-collection>
	<web-resource-name>Portal app</web-resource-name>
	<url-pattern>/*</url-pattern>
	</web-resource-collection>
	<auth-constraint>
	<role-name>user</role-name>
	</auth-constraint>
	</security-constraint>
	
	<security-constraint>
	  <web-resource-collection>
	    <web-resource-name>Web Services</web-resource-name>
	    <description>Matches the /ws pages.</description>
	    <url-pattern>/ws/*</url-pattern>
	  </web-resource-collection>
	  <!-- No auth-constraint means everybody has access! -->
	</security-constraint>
	
	<login-config>
	<auth-method>BASIC</auth-method>
	<realm-name>squonk</realm-name>
	</login-config>

</web-app>


